body {
	background-color: red;
	color: #000;
}

.mobile,
.tablet,
.desktop {
	display: none;
}

@media (max-width: 639px) {
	.mobile {
		display: block;
	}
}

@media (min-width: 640px) and (max-width: 1023px) {
	body {
		background-color: green;
	}

	.tablet {
		display: block;
	}
}

@media (min-width: 1024px) {
	body {
		background-color: blue;
		color: white;
	}

	.desktop {
		display: block;
	}
}
