:root {
  --primary-white: #e6edf3;
  --primary-dark-blue: #0d1117;
}

* {
  font: 100% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--primary-dark-blue);
}

h1,
.search-box {
  margin: 2rem auto;
}

h1 {
  font-size: 250%;
  font-weight: 700;
  color: var(--primary-white);
  text-align: center;
}

.search-box {
  margin: 2rem auto;
  width: 40rem;
}

.search-box input,
.search-box button {
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
}

.search-box button {
  margin-left: 1rem;
  font-weight: 600;
  color: var(--primary-white);
  background-color: #0d111788;
}

.search-box button:hover {
  color: var(--primary-dark-blue);
  background-color: var(--primary-white);
}

.user-container {
  display: flex;
  align-items: center;
  width: 40rem;
  min-height: 15rem;
  margin: 0 auto;
  padding: 1.5em;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: var(--primary-white);
}

.on-search {
  display: flex;
  align-items: center;
}

.user-avatar-container {
  max-width: 8rem;
  margin: 0.5rem;
}

.user-avatar {
  width: 100%;
  border-radius: 50%;
}

.user-profile {
  padding: 0 1rem;
  margin: 0 0.5rem;
}

.user-heading img {
  width: 20%;
  margin: 0 auto;
}

.user-profile p {
  font-weight: 500;
}

.user-heading a {
  color: inherit;
  text-decoration: none;
  font-weight: 650;
  font-size: 200%;
  color: var(--primary-dark-blue);
}

.user-heading a:hover {
  color: #0d111780;
}

.bio,
.joined-date {
  font-weight: 500;
  margin-top: 0.5rem;
}

.joined-date span {
  font-weight: 700;
}

.pending-search {
  text-align: center;
  margin-top: 1rem;
}

.hidden {
  display: none;
}
