:root {
	--star-size: 2rem;
	--star-color: #ccc;
	--star-background: #fc0;
}

* {
	box-sizing: border-box;
}

html {
	font: 100% "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: #333;
}

body {
	margin: 0;
	background-color: #1c3e69;
}

h1 {
	text-align: center;
	color: #eee;
}

.review-card-wrapper {
	margin: 0 auto;
	padding: 1em;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	max-width: 30rem;
	max-height: 12rem;
	margin: 1.5em auto;
	padding: 1.5em;
	border: 1px solid #aaa;
	border-radius: 15px;
	background-color: #eee;
}

.customer {
	display: flex;
	align-items: flex-start;
}

.customer-avatar {
	width: 50px;
	border-radius: 999px;
}

.cutomer-rating-container {
	display: flex;
	flex-direction: column;
	padding-left: 0.5em;
}

.customer-name {
	padding-left: 0.3em;
}

.customer-avatar img {
	width: 100%;
	height: 100%;
	border-radius: 999px;
}

.stars {
	--percent: calc(var(--rating) / 5 * 100%);
	display: inline-block;
	font-size: var(--star-size);
	line-height: 1;
}

.stars::before {
	content: "★★★★★";
	letter-spacing: 8px;
	background: linear-gradient(
		90deg,
		var(--star-background) var(--percent),
		var(--star-color) var(--percent)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.customer-review {
	overflow: auto;
	font-style: italic;
	font-size: 95%;
	line-height: 1.25;
}

.customer-review p::before {
	content: "“";
}

.customer-review p::after {
	content: "”";
}
